<app-toolbar-top></app-toolbar-top>
<div>
  <div>
    <br />
    <br />
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            json of Products and Cart
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h5>Cart</h5>
        <code>
          <div fxLayout="column" fxLayoutGap="32px">
            <div>{{ cart | json }}</div>
          </div>
        </code>
        <h5>Products</h5>
        <code>
          <div fxLayout="column" fxLayoutGap="32px">
            <div>{{ products | json }}</div>
          </div>
        </code>       
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="product-container">
  <h2>Products</h2>
  <div cdkDropList #productsList="cdkDropList" [cdkDropListData]="products" [cdkDropListConnectedTo]="[cartList]"
    class="example-list" (cdkDropListDropped)="drop('productsList', $event)">
    <div class="example-box" *ngFor="let item of products" cdkDrag>{{item.title}}</div>
  </div>
</div>

<div class="cart-container">
  <h2>Cart {{cart?.id}}</h2>

  <div cdkDropList #cartList="cdkDropList" [cdkDropListData]="cart?.items" [cdkDropListConnectedTo]="[productsList]"
    class="example-list" (cdkDropListDropped)="drop('cartList', $event)">
    <div class="example-box" *ngFor="let item of cart?.items" cdkDrag>
      {{item.product.title}}
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Qty." [(ngModel)]="item.qty">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Hours" [(ngModel)]="item.hours">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<app-toolbar-bottom></app-toolbar-bottom>